body{
 
    font-family: 'Baloo Paaji 2', cursive;
    font-family: 'Questrial', sans-serif;
    text-align: center;
}

.block-container{
    padding: 20px 0 0;
    width: 100%;
}

header .block-container{
    background: #e6e6c5;
}

img, div, section, li, h2{
    display: inline-block;
}

header div li{
    width: 25%;
    margin: 0 3%;
}

header img{
    width: 30%;
}

.logo {
    margin: 1em;
}

main .block-container{
    background: linear-gradient(#e6e6c5, #ffffff)
}

.welcome-container, .menu-container {
    width: 45%;
    vertical-align: top;
}

.welcome-container .child{
    width: 60%;
    max-height: 400px;
}

h1{
    font-family: 'Baloo Paaji 2';
    font-weight: 1000;
    font-size: 60px;
}

.welcome-container h1{
    font-size: 30px;
    margin: 1em 1em 0;
}

h2{
    font-family: 'Baloo Paaji 2';
    font-weight: 400;
    font-size: 40px;
    margin: 0 0 10px;
    transition: 1s;
    display: inline-block;
}

.menu-container li{
    width: 40%;
    padding: 2%;
    border: none;
}

#game1{
    background: #ffa600;
}

#game2{
    background: #33a97f;
}

#game3{
    background: #f8688d;
}

#game4{
    background: #4dbbc5;
}

li .child {
    width: 30%;
    height: 180px;
    transition: 1s;
}

li .child:hover, h2:hover, .followme-container img:hover, #logo-horizontal:hover{
    transform: scale(1.5);
}

footer .block-container{
    background: white;
}

.garden-container{
    display: block;
    margin: 10px 0 0 0;
}

.garden-element{
    width: 8%;
    max-height: 40px;
}

.developer-container{
    width: 40%;
    vertical-align: top;
}

.developer {
    vertical-align: top;
}

#logo-horizontal{
    width: 150px;
    transition: 1s;
}

#logo-vertical{
    display: none;
}

p {
    font-size: 20px;
    margin: 1em 0;
}

.followme-container{
    width: 40%;
    vertical-align: top;
}

.followme-container .copyright, .followme-container .links-socialmedia{
    display:inline-block;
    margin: 0 1em;
}

.followme-container img{
    width: 50px;
    margin: 1em 5px 0;
    transition: 1s;
}

@media screen and (min-width: 821px) and (max-width: 1024px){ /*❚❚❚❚❚❚❚❚❚❚❚❚❚❚ HALF DESKTOP ❚❚❚❚❚❚❚❚❚❚❚❚❚❚*/

    .welcome-container .child{
        max-height: 250px;
    }
    
    h1{
        font-size: 30px;
    }
    
    .welcome-container h1{
        font-size: 20px;
    }
    
    h2{
        font-size: 17px;
    }
    
    .menu-container li{
        padding: 0;
    }

    li .child {
        max-height: 120px;
    }

    .garden-element{
        max-height: 30px;
    }

    .developer-container{
        width: 55%;
    }

    .followme-container .copyright, .followme-container .links-socialmedia{
        display: block
    }

    p {
        font-size: 15px;
        margin: 18px 0 0 0;
    }

    .followme-container{
        margin: 1em 0 0 0;
    }

    .followme-container img{
        width: 40px;
        margin: 10px 5px 0;
    }

    #logo-horizontal{
        width: 140px;
    }

}

@media screen and (min-width: 413px) and (max-width: 820px){ /*❚❚❚❚❚❚❚❚❚❚❚❚❚❚ TABLET ❚❚❚❚❚❚❚❚❚❚❚❚❚❚*/

}

@media screen and (max-width: 412px) { /*❚❚❚❚❚❚❚❚❚❚❚❚❚❚ MOBILE ❚❚❚❚❚❚❚❚❚❚❚❚❚❚*/
  
}
